.movable-elem {
    background: #000;
    height: 200px;
    width: 200px;
    color: #fff;
    border-radius: 50px;
    position: fixed;
    text-align: center;
}

.movable-elem h3 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}